.jazz.page-home dd.section {
  padding-left: 10px;
  padding-top: 10px; }
.jazz.page-home .box.more {
  padding: 10px 13px 10px 13px;
  font-size: 13px; }
.jazz.page-home h3.container {
  margin-bottom: 5px; }
  .jazz.page-home h3.container img {
    display: block; }
  .jazz.page-home h3.container .body {
    padding-bottom: 10px;
    height: 25px; }
.jazz.page-home .masthead-top {
  background-image: url(/images/titles/home_title.png);
  background-position: 10px 5px; }
.jazz.page-home .masthead {
  background: url(/images/home/masthead_bg.png) repeat-x;
  margin-bottom: 0px; }
.jazz.page-home #main-content {
  /*background: url(/images/titles/home_title_bottom.png) no-repeat top left;*/ }
.jazz.page-home .col-1-2.with-banner {
  margin-top: 0px; }
.jazz.page-home .col-1, .jazz.page-home .col-2 {
  width: 470px; }
  .jazz.page-home .col-1 h1, .jazz.page-home .col-2 h1 {
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0px; }
  .jazz.page-home .col-1 h2, .jazz.page-home .col-2 h2 {
    color: Gray; }
.jazz.page-home #graphic {
  margin-left: 505px;
  width: 470px;
  margin-top: 42px; }
  .jazz.page-home #graphic img {
    max-width: 438px; }
.jazz.page-home #blog h1 {
  color: white; }
.jazz.page-home #blog .blog-post {
  height: 90px;
  margin-left: -10px; }
  .jazz.page-home #blog .blog-post .post-date {
    font-size: 14px; }
  .jazz.page-home #blog .blog-post .post-link {
    font-size: 20px; }
  .jazz.page-home #blog .blog-post .post-1, .jazz.page-home #blog .blog-post .post-2, .jazz.page-home #blog .blog-post .post-3 {
    padding-top: 30px;
    padding-left: 10px;
    height: inherit; }
  .jazz.page-home #blog .blog-post .post-1 {
    background: url(/images/pipes/blogpost-s.png) no-repeat;
    margin-top: -15px; }
  .jazz.page-home #blog .blog-post .post-2 {
    background: url(/images/pipes/blogpost-l.png) no-repeat;
    margin-top: 5px;
    padding-top: 40px;
    height: 118px;
    width: 584px; }
  .jazz.page-home #blog .blog-post .post-3 {
    background: url(/images/pipes/blogpost-m.png) no-repeat;
    margin-top: 34px; }
.jazz.page-home #blog .pipe-bottom {
  background: url(/images/pipes/blogbottom.png) no-repeat;
  height: 13px;
  margin-left: -10px;
  margin-top: 5px; }
.jazz.page-home #featured-video .body {
  padding: 5px; }
  .jazz.page-home #featured-video .body img {
    width: 300px; }
  .jazz.page-home #featured-video .body .box.name {
    background-color: #000; }
    .jazz.page-home #featured-video .body .box.name span {
      width: 290px; }
  .jazz.page-home #featured-video .body.additional-content {
    padding-top: 0px; }
  .jazz.page-home #featured-video .body p.video_description {
    margin-bottom: 10px; }
  .jazz.page-home #featured-video .body p.show {
    margin-bottom: 0px; }
  .jazz.page-home #featured-video .body ul.inline-list li {
    color: #666; }
.jazz.page-home #intro a.box {
  width: 210px; }
.jazz.page-home #mailing-list .body-home {
  background: url(/images/pipes/ml-bg.png) no-repeat;
  height: 189px;
  width: 490px;
  margin-top: 27px;
  position: relative; }
.jazz.page-home #mailing-list .body {
  padding-top: 5px; }
.jazz.page-home #mailing-list .actions {
  padding-left: 95px; }
.jazz.page-home #mailing-list h1, .jazz.page-home #mailing-list h2 {
  padding-left: 10px; }
.jazz.page-home #mailing-list .field.text .wrapper input {
  width: 310px; }
.jazz.page-home #mailing-list .field.text label {
  width: 75px;
  margin-right: 10px;
  font-size: 14px; }
.jazz.page-home #tonights_shows h1 {
  color: white; }
.jazz.page-home #support {
  text-align: center; }
  .jazz.page-home #support h1, .jazz.page-home #support h2, .jazz.page-home #support h3 {
    color: white; }
  .jazz.page-home #support .support-us {
    margin-top: 68px;
    background: url(/images/pipes/support.png) no-repeat;
    height: 75px; }
  .jazz.page-home #support .social-media {
    margin-top: 8px;
    padding-top: 4px;
    height: 26px;
    background: url(/images/pipes/socialmedia.png) no-repeat; }
.jazz.page-home #footer {
  text-align: center;
  color: white;
  margin-top: 33px; }
  .jazz.page-home #footer .site-tagline {
    background: url(/images/pipes/tagline.png) no-repeat;
    height: 31px;
    color: gray;
    padding-top: 5px;
    position: relative;
    left: -7px; }
    .jazz.page-home #footer .site-tagline .site-name {
      color: white;
      font-weight: bold;
      padding-right: 5px; }
  .jazz.page-home #footer .site-copyright {
    margin-top: 10px; }
.jazz.page-home .evoslider.default {
  border: none;
  background: transparent;
  height: 484px !important;
  padding-top: 0; }
  .jazz.page-home .evoslider.default dl.slides_container dd {
    display: none; }
    .jazz.page-home .evoslider.default dl.slides_container dd ul.show-listing {
      margin-left: -10px; }
  .jazz.page-home .evoslider.default dl.slides_container dd.nav1 {
    display: block; }
  .jazz.page-home .evoslider.default dl.slides_container dt {
    text-align: center;
    text-shadow: none;
    font-size: 20px;
    background: transparent; }
  .jazz.page-home .evoslider.default dl.slides_container dt.nav1 {
    background: url(/images/pipes/nav1.png) no-repeat;
    height: 49px !important;
    top: -45px; }
  .jazz.page-home .evoslider.default dl.slides_container dt.nav2 {
    background: url(/images/pipes/nav2.png) no-repeat;
    height: 49px !important; }
  .jazz.page-home .evoslider.default dl.slides_container dt.nav3 {
    background: url(/images/pipes/nav3.png) no-repeat;
    height: 49px !important;
    width: 427px;
    top: -28px; }
  .jazz.page-home .evoslider.default dl.slides_container dt.active {
    color: white;
    display: block !important; }
  .jazz.page-home .evoslider.default dl dd.section {
    width: 690px !important; }
    .jazz.page-home .evoslider.default dl dd.section .fromblog {
      background: url(/images/pipes/fromblog.png) no-repeat;
      height: 79px;
      padding: 10px;
      margin-left: -11px; }
    .jazz.page-home .evoslider.default dl dd.section .shows {
      background: url(/images/pipes/shows.png) no-repeat;
      height: 74px;
      padding: 10px;
      margin-left: -11px; }
  .jazz.page-home .evoslider.default dl dd.section#blog, .jazz.page-home .evoslider.default dl dd.section#tonights_shows {
    background: transparent; }
