.jazz.page-home dd.section {
  padding-left: 10px;
  padding-top: 10px; }
.jazz.page-home .box.more {
  padding: 10px 13px 10px 13px;
  font-size: 13px; }
.jazz.page-home h3.container {
  margin-bottom: 5px; }
  .jazz.page-home h3.container img {
    display: block; }
  .jazz.page-home h3.container .body {
    padding-bottom: 10px;
    height: 25px; }
.jazz.page-home .masthead-top {
  background-image: url(/images/titles/home_title.png);
  background-position: 10px 5px; }
.jazz.page-home .masthead {
  background: url(/images/home/masthead_bg.png) repeat-x;
  margin-bottom: 0px; }
.jazz.page-home #main-content {
  background: url(/images/titles/home_title_bottom.png) no-repeat top left; }
  .jazz.page-home #main-content #main-content-secondary {
    padding-top: 5px; }
.jazz.page-home .col-1-2.with-banner {
  margin-top: 0px; }
.jazz.page-home .col-1, .jazz.page-home .col-2 {
  width: 470px; }
  .jazz.page-home .col-1 h1, .jazz.page-home .col-2 h1 {
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0px; }
  .jazz.page-home .col-1 h2, .jazz.page-home .col-2 h2 {
    color: Gray; }
.jazz.page-home #graphic {
  margin-left: 490px;
  width: 470px;
  margin-top: 10px; }
  .jazz.page-home #graphic img {
    max-width: 460px; }
.jazz.page-home #featured-video .body {
  padding: 5px; }
  .jazz.page-home #featured-video .body img {
    width: 300px; }
  .jazz.page-home #featured-video .body .box.name {
    background-color: #000; }
    .jazz.page-home #featured-video .body .box.name span {
      width: 290px; }
  .jazz.page-home #featured-video .body.additional-content {
    padding-top: 0px; }
  .jazz.page-home #featured-video .body p.video_description {
    margin-bottom: 10px; }
  .jazz.page-home #featured-video .body p.show {
    margin-bottom: 0px; }
.jazz.page-home #intro a.box {
  width: 210px; }
.jazz.page-home #mailing-list .body {
  padding-top: 5px; }
.jazz.page-home #mailing-list .actions {
  padding-left: 95px; }
.jazz.page-home #mailing-list h1, .jazz.page-home #mailing-list h2 {
  padding-left: 10px; }
.jazz.page-home #mailing-list .field.text .wrapper input {
  width: 310px; }
.jazz.page-home #mailing-list .field.text label {
  width: 75px;
  margin-right: 10px;
  font-size: 14px; }
.jazz.page-home #support {
  margin-top: 70px;
  text-align: center; }
  .jazz.page-home #support h1, .jazz.page-home #support h2, .jazz.page-home #support h3 {
    color: white; }
  .jazz.page-home #support .support-us {
    background-color: #f90; }
  .jazz.page-home #support .social-media {
    margin-top: 10px;
    background: black; }
.jazz.page-home #footer {
  text-align: center;
  margin-top: 20px;
  color: white; }
  .jazz.page-home #footer .site-tagline {
    background-color: black;
    color: gray;
    padding: 10px; }
    .jazz.page-home #footer .site-tagline .site-name {
      color: white;
      font-weight: bold;
      padding-right: 5px; }
  .jazz.page-home #footer .site-copyright {
    margin-top: 10px; }
