.blog-body {
  background: url(/images/body_bg.png); }

.tumblr-container {
  float: left;
  overflow: hidden; }
  .tumblr-container .box {
    padding: 7px 10px; }
    .tumblr-container .box a {
      color: #fff; }
      .tumblr-container .box a:hover {
        color: #ff9900; }
  .tumblr-container .next {
    float: right; }
  .tumblr-container .post-catagories {
    padding: 5px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    background: url(/images/black_container_bg.png); }
    .tumblr-container .post-catagories h3 {
      color: #ff9900;
      margin: 0 0 7px 2px; }
    .tumblr-container .post-catagories .box {
      margin: 0 1px 6px 0;
      font-size: 12px; }
  .tumblr-container .tumblr-post {
    margin: 0 0 30px 0;
    background-color: #fff; }
    .tumblr-container .tumblr-post .tumblr-wrapper {
      width: 610px;
      padding: 10px; }
      .tumblr-container .tumblr-post .tumblr-wrapper h2 {
        margin-bottom: 0;
        text-transform: capitalize;
        margin-bottom: 10px; }
        .tumblr-container .tumblr-post .tumblr-wrapper h2.quoted-text {
          font-size: 30px;
          font-style: italic;
          margin: 0;
          padding: 5px 0 0 0; }
        .tumblr-container .tumblr-post .tumblr-wrapper h2 a {
          color: #000; }
          .tumblr-container .tumblr-post .tumblr-wrapper h2 a:hover {
            color: #ff9900; }
      .tumblr-container .tumblr-post .tumblr-wrapper p {
        line-height: 19px; }
      .tumblr-container .tumblr-post .tumblr-wrapper .tumblr-caption {
        font-size: 13px;
        padding: 15px; }
      .tumblr-container .tumblr-post .tumblr-wrapper .tumblr-post-date {
        font-size: 13px;
        padding: 3px 0;
        margin: 0 5px 10px 0; }
      .tumblr-container .tumblr-post .tumblr-wrapper .tumblr-post-photo {
        margin: 5px 0; }
    .tumblr-container .tumblr-post .tumblr-meta-wrapper {
      padding: 6px 8px;
      background-color: #000000;
      color: #fff;
      font-size: 13px; }
      .tumblr-container .tumblr-post .tumblr-meta-wrapper a {
        font-weight: bold; }
    .tumblr-container .tumblr-post .readmore {
      font-weight: bold; }
      .tumblr-container .tumblr-post .readmore:hover {
        text-decoration: underline; }
  .tumblr-container .pagination {
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Ariel, sans-serif;
    display: inline-block;
    text-decoration: none; }
    .tumblr-container .pagination a, .tumblr-container .pagination .previous_page, .tumblr-container .pagination .next_page, .tumblr-container .pagination .current, .tumblr-container .pagination .disabled {
      padding: 5px 14px;
      background-color: #000;
      margin: 0 7px 0 0;
      float: left;
      color: #fff;
      font-weight: bold; }
    .tumblr-container .pagination a:hover {
      color: orange; }
    .tumblr-container .pagination .current {
      font-style: normal;
      color: orange; }
