.jazz {
  &.page-home {
    dd.section {
      padding-left: 10px;
      padding-top: 10px;
    }
    .box.more {
      padding: 5px 8px 5px 8px;
      font-size: 13px;
    }
    h3.container {
      img {display:block;}
      .body {
        padding-bottom:10px;
        height:25px;
      }
      margin-bottom: 5px;   
    }
    .masthead-top {
       background-image: url(/images/titles/home_title.png);
       background-position: 10px 5px;
    }
    .masthead {
      background: url(/images/home/masthead_bg.png) repeat-x;
      margin-bottom: 0px;
    }
    #main-content {
      background: url(/images/titles/home_title_bottom.png) no-repeat top left;
      #main-content-secondary {
        padding-top: 5px;
      }
    }
    .col-1-2.with-banner {
      margin-top: 0px;
    }
    .col-1, .col-2 {
      width: 470px;
      h1 {
        color: #ffffff;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 0px;
      }
      h2 {
        color: Gray;
      }
    }
    #graphic {
      margin-left: 490px;
      width: 470px;
      margin-top: 10px;
      img {
        max-width: 460px;
      }
    }
    #exciting-news {
      //float: right;
      //width: 385px; 
      //margin-bottom: 40px;
      //margin-top: 20px;
      //.body {
      //  padding-bottom: 10px;
      //}
    }
    #featured-video .body {
      padding: 5px;
      img {width:300px}
      .box.name {
        background-color:#000;
        span {
          width:290px;
        }
      }
      &.additional-content {
        padding-top:0px;
      }
      p {
        &.video_description {
          margin-bottom:10px;
        }
        &.show {
          margin-bottom:0px;
        }
      }
    }
    #intro {
      a.box {
        width: 210px;
      }
    }
    #mailing-list {
      .body {
        padding-top:5px;
      }
      .actions {
      }
      .field.text {
        .wrapper input {
          width: 350px;
        }
        label {
          width: 50px;
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }
    #tonights-shows {
      h1 {
        // todo
      }
      h2 {
        // todo
      }
    }
    #support {
      margin-top: 70px;
      text-align: center;
      h1, h2, h3 {
        color: white;
      }
      .support-us {
        background-color: #f90;
      }
      .social-media {
        margin-top: 10px;
        background: black;
      }
    }
    #footer {
      text-align: center;
      margin-top: 20px;
      color: white;
      .site-tagline {
        background-color: black;
        color: gray;
        padding: 10px;
        .site-name {
          color: white;
          font-weight: bold;
          padding-right: 5px;
        }
      }
      .site-copyright {
        margin-top: 10px;
      }
    }
  }
}
