.jazz {
  &.page-home {
    dd.section {
      padding-left: 10px;
      padding-top: 10px;
    }
    .box.more {
      padding: 10px 13px 10px 13px;
      font-size: 13px;
    }
    h3.container {
      img {display:block;}
      .body {
        padding-bottom:10px;
        height:25px;
      }
      margin-bottom: 5px;   
    }
    .masthead-top {
       background-image: url(/images/titles/home_title.png);
       background-position: 10px 5px;
    }
    .masthead {
      background: url(/images/home/masthead_bg.png) repeat-x;
      margin-bottom: 0px;
    }
    #main-content {
      /*background: url(/images/titles/home_title_bottom.png) no-repeat top left;*/
      #main-content-secondary {
      }
    }
    .col-1-2.with-banner {
      margin-top: 0px;
    }
    .col-1, .col-2 {
      width: 470px;
      h1 {
        color: #ffffff;
        font-size: 35px;
        /*margin-top: 10px;
        margin-bottom: 0px;*/
      }
      h2 {
        color: Gray;
      }
    }
    .col-1.mailing-list {
      margin-top: 28px;
    }
    #graphic {
      margin-left: 505px;
      width: 470px;
      margin-top: 42px;
      margin-bottom: 0px;
      img {
        max-width: 438px;
      }
    }
    #exciting-news {
      /*float: right;
      //width: 385px; 
      //margin-bottom: 40px;
      //margin-top: 20px;
      //.body {
      //  padding-bottom: 10px;
      //}*/
    }
    #blog {
      h1 {
        color: white;
      }
      .blog-post {
        height: 90px;
        margin-left: -10px;
        .post-date {
          font-size: 14px;
        }
        .post-link {
          font-size: 20px;
        }
        // todo: small, medium, and large classes
        .post-1, .post-2, .post-3 {
          padding-top: 30px;
          padding-left: 10px;
          height: inherit;
        }
        .post-1 {
          background: url(/images/pipes/blogpost-s.png) no-repeat;
          margin-top: -15px;
        }
        .post-2 {
          background: url(/images/pipes/blogpost-l.png) no-repeat;
          margin-top: 5px;
          padding-top: 40px;
          height: 118px;
          width: 584px;
        }
        .post-3 {
          background: url(/images/pipes/blogpost-m.png) no-repeat;
          margin-top: 34px;
        }
      }
    }
    .pipe-bottom {
      background: url(/images/pipes/blogbottom.png) no-repeat;
      height: 13px;
      margin-left: -10px;
      margin-top: 5px;
    }
    #featured-video .body {
      padding: 5px;
      img {width:300px}
      .box.name {
        background-color:#000;
        span {
          width:290px;
        }
      }
      &.additional-content {
        padding-top:0px;
      }
      p {
        &.video_description {
          margin-bottom:10px;
        }
        &.show {
          margin-bottom:0px;
        }
      }
      ul.inline-list li {
        color: #666;
      }
    }
    #intro {
      a.box {
        width: 210px;
      }
    }
    #mailing-list {
      height: 191px;
      .body-home {
        background: url(/images/pipes/ml-bg.png) no-repeat;
        background-position: top left;
        height: 189px;
        width: 490px;
        /*margin-top: 27px;*/
      }
      .body {
        padding-top:5px;
      }
      .actions {
        padding-left: 95px;
        margin-bottom: 34px;
      }
      h1{
        padding-top: 15px;
        font-size:34px;
      }
      h2 {
        font-size:18px;
        padding-left: 10px;
        padding-bottom: 10px;
        color: #999;
      }
      .field.text {
        .wrapper input {
          width: 310px;
        }
        label {
          width: 75px;
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }
    #tonights_shows h1,
    .fromblog h1 {
      color: white;
      font-size: 34px;
      padding-top: 5px;
    }
    #tonights_shows h2,
    .fromblog h2 {
      font-size: 18px;
      padding-top: 10px;
      font-color: #999;
    }
    #support {
      text-align: center;
      h1 {
        padding-top: 10px;
      }
      h3 {
        color: white;
      }
      .support-us {
        margin-top: 68px;
        background: url(/images/pipes/support.png) no-repeat;
        height: 76px;
      }
      .social-media {
        margin-top: 8px;
        padding-top: 4px;
        height: 26px;
        background: url(/images/pipes/socialmedia.png) no-repeat;
      }
    }
    #footer {
      text-align: center;
      color: white;
      .site-tagline {
        background: url(/images/pipes/tagline.png) no-repeat;
        height: 31px;
        color: gray;
        padding-top: 5px;
        position: relative;
        left: -7px;
        .site-name {
          color: white;
          font-weight: bold;
          padding-right: 5px;
        }
      }
      .site-copyright {
        margin-top: 10px;
      }
    }
    .evoslider.default {
      border: none;
      background: transparent;
      height: 484px !important;
      padding-top: 0;
      dl.slides_container {
        height: 481px !important;
        dd {
          display: none;
          height: 475px !important;
        }
        dd.nav1 {
          display: block;
        }
        dt {
          text-align: center;
          text-shadow: none;
          font-size: 20px;
          background: transparent;
        }
        dt.nav1 {
          background: url(/images/pipes/nav1.png) no-repeat;
          height: 49px !important;
          top: -45px;
        }
        dt.nav2 {
          background: url(/images/pipes/nav2.png) no-repeat;
          height: 49px !important;
        }
        dt.nav3 {
          background: url(/images/pipes/nav3.png) no-repeat;
          height: 49px !important;
          width: 427px;
          top: -28px;
        }
        dt.active {
          color: white;
          display: block !important;
        }
      }
      dl dd.section {
        width: 690px !important;
        .fromblog {
          background: url(/images/pipes/fromblog.png) no-repeat;
          height: 79px;
          padding: 10px;
          margin-left: -11px;
        }
        .shows {
          background: url(/images/pipes/shows.png) no-repeat;
          height: 74px;
          padding: 10px 10px 0;
          margin-left: -11px;
        }
      }
      dl dd.section#blog, dl dd.section#tonights_shows {
        background: transparent;
      }
    }
  }
}
