- case index
  - when 1
    - truncate_length = 50
  - when 2
    - truncate_length = 100
  - when 3
    - truncate_length = 55


- posted_at = Time.at(blog_post['timestamp'].to_i).strftime('%-m/%-d/%Y')
- case blog_post['type']
  - when 'photo'
    - post_text = strip_tags(blog_post['caption'])
  - when 'quote'
    - post_text = strip_tags(blog_post['text'])
  - when 'video'
    -# todo
  -# text post: optional title, required body
  - when 'text'
    - if blog_post['text'].present?
      - post_text = blog_post['title']
    - else
      -# todo: truncate
      - post_text = blog_post['body']
- if defined? post_text
  -# post_link = link_to(truncate(post_text, :length => truncate_length, :separator => ' '), blog_post['post_url'])
  - post_link = link_to(truncate(post_text, :length => truncate_length, :separator => ' '), blog_path)

.blog-post
  -# todo: small, medium, and large classes
  %div{ :class => 'post post-' + index.to_s }
    %span.post-date= posted_at
    %span.post-link= post_link unless !defined? post_link