- show = selected_video.show

#video_player_container{ :data => { :video => selected_video.id, :show => show.id} }
  .container.section.mb15
    #featured-video-container
      :plain
        #{selected_video.embed_code}
    %h1 
      FEATURED VIDEO
    %p
      = link_to(show.group_name, show, :class => 'box dark')
      - if show.venue.present?
        = link_to(show.venue.name, show.venue, :class => 'box venue-link')
      .date
        = show.when.strftime("%m/%d/%Y")
    
    
   