- masthead_bgs = ['videos','venues','resources','donate','artists','about', 'shows']
- @masthead_bg = masthead_bgs[rand(masthead_bgs.length)] 
- @page_class = "layout-2 page-home masthead-bg-#{@masthead_bg}"


#main-content-secondary
  .col-1-2{ :class => @banners.any? && 'with-banner' }
    - if @banners.any?
      .banners{ :class => @banners.size > 1 && 'slides' }
        .slides_container
          - @banners.each do |banner|
            .banner.slide
              = display_banner(banner)
  
    #homepage-features.evoslider.default
      %dl.slides_container
  
        %dt
          FROM THE BLOG
        %dd.section#blog
          - if @blog_post.present?
            = render :partial => 'home/blog', :locals => { :blog_post => @blog_post }
      
        %dt
          FEATURED VIDEO
        %dd.section#featured-video
          - if @featured_video.present?
            = render :partial => 'videos/video_thumb', :locals => { :thumbnail => nil, :video => @featured_video }
